body {
  margin: 0;
  font-family: "Helvetica", sans-serif;
  color: #3e2a35;
  background: #fff8fb;
}

.hero {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(135deg, #ffc7e6, #b6008d);
  color: white;
}

.hero h1 {
  font-size: 34px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.info {
  padding: 25px;
}

.book-btn {
  width: 100%;
  background: #b6008d;
  border: none;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: .2s;
}

.book-btn:hover {
  opacity: .85;
}
